In [1]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
%cd '/content/drive/My Drive/Colab Notebooks/db'

/content/drive/My Drive/Colab Notebooks/db

In [6]:
!ls

Meteorite_Landings.csv	test.csv

In [7]:
pd.__version__

'1.1.5'

In [8]:
df_meteorites = pd.read_csv('Meteorite_Landings.csv')

In [11]:
df_meteorites.head(10)

                  name   id nametype  ...    reclat    reclong           GeoLocation
0               Aachen    1    Valid  ...  50.77500    6.08333     (50.775, 6.08333)
1               Aarhus    2    Valid  ...  56.18333   10.23333  (56.18333, 10.23333)
2                 Abee    6    Valid  ...  54.21667 -113.00000    (54.21667, -113.0)
3             Acapulco   10    Valid  ...  16.88333  -99.90000     (16.88333, -99.9)
4              Achiras  370    Valid  ... -33.16667  -64.95000   (-33.16667, -64.95)
5             Adhi Kot  379    Valid  ...  32.10000   71.80000          (32.1, 71.8)
6  Adzhi-Bogdo (stone)  390    Valid  ...  44.83333   95.16667  (44.83333, 95.16667)
7                 Agen  392    Valid  ...  44.21667    0.61667   (44.21667, 0.61667)
8               Aguada  398    Valid  ... -31.60000  -65.23333    (-31.6, -65.23333)
9        Aguila Blanca  417    Valid  ... -30.86667  -64.55000   (-30.86667, -64.55)

[10 rows x 10 columns]

In [12]:
df_meteorites.tail(10)

             name     id nametype  ...    reclat    reclong             GeoLocation
45706     Zerkaly  31354    Valid  ...  52.13333   81.96667    (52.13333, 81.96667)
45707    Zhaoping  54609    Valid  ...  24.23333  111.18333   (24.23333, 111.18333)
45708    Zhigansk  30405    Valid  ...  68.00000  128.30000           (68.0, 128.3)
45709  Zhongxiang  30406    Valid  ...  31.20000  112.50000           (31.2, 112.5)
45710  Zillah 001  31355    Valid  ...  29.03700   17.01850       (29.037, 17.0185)
45711  Zillah 002  31356    Valid  ...  29.03700   17.01850       (29.037, 17.0185)
45712      Zinder  30409    Valid  ...  13.78333    8.96667     (13.78333, 8.96667)
45713        Zlin  30410    Valid  ...  49.25000   17.66667       (49.25, 17.66667)
45714   Zubkovsky  31357    Valid  ...  49.78917   41.50460     (49.78917, 41.5046)
45715  Zulu Queen  30414    Valid  ...  33.98333 -115.68333  (33.98333, -115.68333)

[10 rows x 10 columns]

In [13]:
df_meteorites.sample(10)

                              name     id  ...    reclong             GeoLocation
16147        Hammadah al Hamra 171  11654  ...   13.36267    (28.61883, 13.36267)
32985  Queen Alexandra Range 93731  19816  ...  168.00000          (-84.0, 168.0)
10631       Elephant Moraine 90616   9025  ...  156.41981  (-76.27323, 156.41981)
12960        Graves Nunataks 98156  11146  ... -141.50000     (-86.71667, -141.5)
38797                 Yamato 74371  24749  ...   35.49444   (-71.80417, 35.49444)
20307            Lewis Cliff 86399  13330  ...  161.44042  (-84.25533, 161.44042)
2519            Allan Hills A77081   1394  ...  159.66667  (-76.71667, 159.66667)
10909       Elephant Moraine 90890   9299  ...  156.49326  (-76.28622, 156.49326)
12907        Graves Nunataks 98101  11093  ... -141.50000     (-86.71667, -141.5)
29690        Northwest Africa 6111  51520  ...    0.00000              (0.0, 0.0)

[10 rows x 10 columns]

In [15]:
df_meteorites.shape

(45716, 10)

In [16]:
df_meteorites.describe()

                 id      mass (g)        reclat       reclong
count  45716.000000  4.558500e+04  38401.000000  38401.000000
mean   26889.735104  1.327808e+04    -39.122580     61.074319
std    16860.683030  5.749889e+05     46.378511     80.647298
min        1.000000  0.000000e+00    -87.366670   -165.433330
25%    12688.750000  7.200000e+00    -76.714240      0.000000
50%    24261.500000  3.260000e+01    -71.500000     35.666670
75%    40656.750000  2.026000e+02      0.000000    157.166670
max    57458.000000  6.000000e+07     81.166670    354.473330

In [19]:
pd.options.display.float_format='{:,.1f}'.format
df_meteorites.describe()

            id     mass (g)   reclat  reclong
count 45,716.0     45,585.0 38,401.0 38,401.0
mean  26,889.7     13,278.1    -39.1     61.1
std   16,860.7    574,988.9     46.4     80.6
min        1.0          0.0    -87.4   -165.4
25%   12,688.8          7.2    -76.7      0.0
50%   24,261.5         32.6    -71.5     35.7
75%   40,656.8        202.6      0.0    157.2
max   57,458.0 60,000,000.0     81.2    354.5

In [20]:
df_meteorites.describe(include='all')

                          name       id nametype  ...   reclat  reclong GeoLocation
count                    45716 45,716.0    45716  ... 38,401.0 38,401.0       38401
unique                   45716      nan        2  ...      nan      nan       17100
top     Grove Mountains 050391      nan    Valid  ...      nan      nan  (0.0, 0.0)
freq                         1      nan    45641  ...      nan      nan        6214
mean                       NaN 26,889.7      NaN  ...    -39.1     61.1         NaN
std                        NaN 16,860.7      NaN  ...     46.4     80.6         NaN
min                        NaN      1.0      NaN  ...    -87.4   -165.4         NaN
25%                        NaN 12,688.8      NaN  ...    -76.7      0.0         NaN
50%                        NaN 24,261.5      NaN  ...    -71.5     35.7         NaN
75%                        NaN 40,656.8      NaN  ...      0.0    157.2         NaN
max                        NaN 57,458.0      NaN  ...     81.2    354.5         NaN

[11 rows x 10 columns]

In [21]:
df_meteorites.convert_dtypes().dtypes

name            string
id               Int64
nametype        string
recclass        string
mass (g)       float64
fall            string
year            string
reclat         float64
reclong        float64
GeoLocation     string
dtype: object

In [23]:
df_meteorites.nunique()

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             266
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [25]:
df_meteorites[['fall', 'nametype']]

        fall nametype
0       Fell    Valid
1       Fell    Valid
2       Fell    Valid
3       Fell    Valid
4       Fell    Valid
...      ...      ...
45711  Found    Valid
45712  Found    Valid
45713  Found    Valid
45714  Found    Valid
45715  Found    Valid

[45716 rows x 2 columns]

In [28]:
df_meteorites[['fall', 'nametype']]=df_meteorites[['fall', 'nametype']].astype('category')

In [29]:
df_meteorites.dtypes

name             object
id                int64
nametype       category
recclass         object
mass (g)        float64
fall           category
year             object
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

In [30]:
df_meteorites['fall'].unique()

['Fell', 'Found']
Categories (2, object): ['Fell', 'Found']

In [31]:
df_meteorites['nametype'].unique()

['Valid', 'Relict']
Categories (2, object): ['Valid', 'Relict']

In [32]:
df_meteorites['nametype'].value_counts()

Valid     45641
Relict       75
Name: nametype, dtype: int64

In [33]:
pd.get_dummies(df_meteorites['nametype'])

       Relict  Valid
0           0      1
1           0      1
2           0      1
3           0      1
4           0      1
...       ...    ...
45711       0      1
45712       0      1
45713       0      1
45714       0      1
45715       0      1

[45716 rows x 2 columns]

In [35]:
df_meteorites[['relict', 'valid']] = pd.get_dummies(df_meteorites['nametype'])
df_meteorites

             name     id nametype  ...             GeoLocation  relict valid
0          Aachen      1    Valid  ...       (50.775, 6.08333)       0     1
1          Aarhus      2    Valid  ...    (56.18333, 10.23333)       0     1
2            Abee      6    Valid  ...      (54.21667, -113.0)       0     1
3        Acapulco     10    Valid  ...       (16.88333, -99.9)       0     1
4         Achiras    370    Valid  ...     (-33.16667, -64.95)       0     1
...           ...    ...      ...  ...                     ...     ...   ...
45711  Zillah 002  31356    Valid  ...       (29.037, 17.0185)       0     1
45712      Zinder  30409    Valid  ...     (13.78333, 8.96667)       0     1
45713        Zlin  30410    Valid  ...       (49.25, 17.66667)       0     1
45714   Zubkovsky  31357    Valid  ...     (49.78917, 41.5046)       0     1
45715  Zulu Queen  30414    Valid  ...  (33.98333, -115.68333)       0     1

[45716 rows x 12 columns]

In [36]:
df_meteorites['year']

0        01/01/1880 12:00:00 AM
1        01/01/1951 12:00:00 AM
2        01/01/1952 12:00:00 AM
3        01/01/1976 12:00:00 AM
4        01/01/1902 12:00:00 AM
                  ...
45711    01/01/1990 12:00:00 AM
45712    01/01/1999 12:00:00 AM
45713    01/01/1939 12:00:00 AM
45714    01/01/2003 12:00:00 AM
45715    01/01/1976 12:00:00 AM
Name: year, Length: 45716, dtype: object

In [38]:
pd.to_datetime(
    df_meteorites['year'],
    errors = 'coerce',
    format= '%m/%d/%Y %H:%M:%S %p'
)

0       1880-01-01 12:00:00
1       1951-01-01 12:00:00
2       1952-01-01 12:00:00
3       1976-01-01 12:00:00
4       1902-01-01 12:00:00
                ...
45711   1990-01-01 12:00:00
45712   1999-01-01 12:00:00
45713   1939-01-01 12:00:00
45714   2003-01-01 12:00:00
45715   1976-01-01 12:00:00
Name: year, Length: 45716, dtype: datetime64[ns]

In [39]:
df_meteorites['year']= pd.to_datetime(
    df_meteorites['year'],
    errors = 'coerce',
    format= '%m/%d/%Y %H:%M:%S %p'
)

In [40]:
df_meteorites.dtypes

name                   object
id                      int64
nametype             category
recclass               object
mass (g)              float64
fall                 category
year           datetime64[ns]
reclat                float64
reclong               float64
GeoLocation            object
relict                  uint8
valid                   uint8
dtype: object

In [41]:
df_meteorites.rename(columns={'mass (g)': 'mass'}, inplace=True)

In [42]:
df_meteorites

             name     id nametype  ...             GeoLocation  relict valid
0          Aachen      1    Valid  ...       (50.775, 6.08333)       0     1
1          Aarhus      2    Valid  ...    (56.18333, 10.23333)       0     1
2            Abee      6    Valid  ...      (54.21667, -113.0)       0     1
3        Acapulco     10    Valid  ...       (16.88333, -99.9)       0     1
4         Achiras    370    Valid  ...     (-33.16667, -64.95)       0     1
...           ...    ...      ...  ...                     ...     ...   ...
45711  Zillah 002  31356    Valid  ...       (29.037, 17.0185)       0     1
45712      Zinder  30409    Valid  ...     (13.78333, 8.96667)       0     1
45713        Zlin  30410    Valid  ...       (49.25, 17.66667)       0     1
45714   Zubkovsky  31357    Valid  ...     (49.78917, 41.5046)       0     1
45715  Zulu Queen  30414    Valid  ...  (33.98333, -115.68333)       0     1

[45716 rows x 12 columns]

In [50]:
 df_meteorites['ones']= 1

In [51]:
df_meteorites

             name     id nametype  ... relict  valid ones
0          Aachen      1    Valid  ...      0      1    1
1          Aarhus      2    Valid  ...      0      1    1
2            Abee      6    Valid  ...      0      1    1
3        Acapulco     10    Valid  ...      0      1    1
4         Achiras    370    Valid  ...      0      1    1
...           ...    ...      ...  ...    ...    ...  ...
45711  Zillah 002  31356    Valid  ...      0      1    1
45712      Zinder  30409    Valid  ...      0      1    1
45713        Zlin  30410    Valid  ...      0      1    1
45714   Zubkovsky  31357    Valid  ...      0      1    1
45715  Zulu Queen  30414    Valid  ...      0      1    1

[45716 rows x 13 columns]

In [54]:
df_meteorites.drop(['ones'], axis=1, inplace=True)

In [55]:
 df_meteorites

             name     id nametype  ...             GeoLocation  relict valid
0          Aachen      1    Valid  ...       (50.775, 6.08333)       0     1
1          Aarhus      2    Valid  ...    (56.18333, 10.23333)       0     1
2            Abee      6    Valid  ...      (54.21667, -113.0)       0     1
3        Acapulco     10    Valid  ...       (16.88333, -99.9)       0     1
4         Achiras    370    Valid  ...     (-33.16667, -64.95)       0     1
...           ...    ...      ...  ...                     ...     ...   ...
45711  Zillah 002  31356    Valid  ...       (29.037, 17.0185)       0     1
45712      Zinder  30409    Valid  ...     (13.78333, 8.96667)       0     1
45713        Zlin  30410    Valid  ...       (49.25, 17.66667)       0     1
45714   Zubkovsky  31357    Valid  ...     (49.78917, 41.5046)       0     1
45715  Zulu Queen  30414    Valid  ...  (33.98333, -115.68333)       0     1

[45716 rows x 12 columns]

In [56]:
df_meteorites.drop(index=[0,2,4,6]).head(10)

                name   id nametype  ...           GeoLocation  relict valid
1             Aarhus    2    Valid  ...  (56.18333, 10.23333)       0     1
3           Acapulco   10    Valid  ...     (16.88333, -99.9)       0     1
5           Adhi Kot  379    Valid  ...          (32.1, 71.8)       0     1
7               Agen  392    Valid  ...   (44.21667, 0.61667)       0     1
8             Aguada  398    Valid  ...    (-31.6, -65.23333)       0     1
9      Aguila Blanca  417    Valid  ...   (-30.86667, -64.55)       0     1
10  Aioun el Atrouss  423    Valid  ...  (16.39806, -9.57028)       0     1
11               Aïr  424    Valid  ...   (19.08333, 8.38333)       0     1
12   Aire-sur-la-Lys  425    Valid  ...   (50.66667, 2.33333)       0     1
13             Akaba  426    Valid  ...     (29.51667, 35.05)       0     1

[10 rows x 12 columns]

In [57]:
df_meteorites.drop(columns= ['id', 'recclass'], index=[1,3,5])

                      name nametype  ...  relict valid
0                   Aachen    Valid  ...       0     1
2                     Abee    Valid  ...       0     1
4                  Achiras    Valid  ...       0     1
6      Adzhi-Bogdo (stone)    Valid  ...       0     1
7                     Agen    Valid  ...       0     1
...                    ...      ...  ...     ...   ...
45711           Zillah 002    Valid  ...       0     1
45712               Zinder    Valid  ...       0     1
45713                 Zlin    Valid  ...       0     1
45714            Zubkovsky    Valid  ...       0     1
45715           Zulu Queen    Valid  ...       0     1

[45713 rows x 10 columns]

In [58]:
new_df  =df_meteorites.copy(deep=True)

In [59]:
new_df

             name     id nametype  ...             GeoLocation  relict valid
0          Aachen      1    Valid  ...       (50.775, 6.08333)       0     1
1          Aarhus      2    Valid  ...    (56.18333, 10.23333)       0     1
2            Abee      6    Valid  ...      (54.21667, -113.0)       0     1
3        Acapulco     10    Valid  ...       (16.88333, -99.9)       0     1
4         Achiras    370    Valid  ...     (-33.16667, -64.95)       0     1
...           ...    ...      ...  ...                     ...     ...   ...
45711  Zillah 002  31356    Valid  ...       (29.037, 17.0185)       0     1
45712      Zinder  30409    Valid  ...     (13.78333, 8.96667)       0     1
45713        Zlin  30410    Valid  ...       (49.25, 17.66667)       0     1
45714   Zubkovsky  31357    Valid  ...     (49.78917, 41.5046)       0     1
45715  Zulu Queen  30414    Valid  ...  (33.98333, -115.68333)       0     1

[45716 rows x 12 columns]